

<html>
    <head>
        {% load static %}
        <link type="text/css" rel="stylesheet" href="{% static 'website/css/custom.css' %}"  media="screen,projection"/>
        <link type="text/css" rel="stylesheet" href="{% static 'website/css/materialize.min.css' %}"  media="screen,projection"/>

</head>
    <body class="green darken-1">
            <nav>
                    <div class="nav-wrapper green darken-2">
                      <a href="#" class="brand-logo">Logo</a>
                      <ul id="nav-mobile" class="right ">
                        
                        
                        <li><a href="collapsible.html">ارتباط با ما</a></li>
                        <li><a href="badges.html">درباره ما</a></li>
                        <li><a href="sass.html">صفحه اصلی</a></li>
                      </ul>
                    </div>
            </nav>
            
            <div dir="rtl">
                    
                    
                            <div class="row">
                                    <div class="col s12 m7">
                                                <table class=" match-table "> 
                                                        
                                                                <tbody>
                                                                          <tr class="green darken-3 hoverable">
                                                                            <td><img class="team-image" src="http://moderndata.ir/logos/chelsea_logo.png"  /></td>
                                                                            <td class="text-color">چلسی</td>
                                                                            <td class="text-color">-</td>
                                                                            <td class="text-color">لیورپول</td>
                                                                            <td><img class="team-image"  src="http://moderndata.ir/logos/liverpool_logo.png" /></td>
                                                                            <td><span class="label orange darken-2">۱۳۹۷/۰۱/۲۸ ۲۳:۴۵</span></td>
                                                                        </tr>
                                                                        <tr class="green darken-2 hoverable">
                                                                                        <td><img class="team-image" src="http://moderndata.ir/logos/chelsea_logo.png"  /></td>
                                                                                        <td class="text-color">چلسی</td>
                                                                                        <td class="text-color">-</td>
                                                                                        <td class="text-color">لیورپول</td>
                                                                                        <td><img class="team-image"  src="http://moderndata.ir/logos/liverpool_logo.png" /></td>
                                                                                        <td><span class="label orange darken-2">۱۳۹۷/۰۱/۲۸ ۲۳:۴۵</span></td>
                                                                                    </tr> 
                                                                                    <tr class="green darken-3 hoverable">
                                                                                                <td><img class="team-image" src="http://moderndata.ir/logos/chelsea_logo.png"  /></td>
                                                                                                <td class="text-color">چلسی</td>
                                                                                                <td class="text-color">-</td>
                                                                                                <td class="text-color">لیورپول</td>
                                                                                                <td><img class="team-image"  src="http://moderndata.ir/logos/liverpool_logo.png" /></td>
                                                                                                <td><span class="label orange darken-2">۱۳۹۷/۰۱/۲۸ ۲۳:۴۵</span></td>
                                                                                            </tr>
                        
                                                                                            <tr class="green darken-2 hoverable">
                                                                                                        <td><img class="team-image" src="http://moderndata.ir/logos/chelsea_logo.png"  /></td>
                                                                                                        <td class="text-color">چلسی</td>
                                                                                                        <td class="text-color">-</td>
                                                                                                        <td class="text-color">لیورپول</td>
                                                                                                        <td><img class="team-image"  src="http://moderndata.ir/logos/liverpool_logo.png" /></td>
                                                                                                        <td><span class="label orange darken-2">۱۳۹۷/۰۱/۲۸ ۲۳:۴۵</span></td>
                                                                                                    </tr>                            
                                                                        </tbody>
                                                                      </table>   
                                    </div>
                                    <div class="col s12 m5">
                                                <table class=" match-table centered">
                                                                <thead>
                                                                                <tr>
                                                                                    <th class="text-color">رتبه</th>
                                                                                    <th class="text-color" colspan="2"> تیم</th>
                                                                                    <th class="text-color">تعداد بازی</th>
                                                                                    <th class="text-color">امتیاز</th>
                                                                                </tr>
                                                                              </thead>
                                                                <tbody>
                                                                          <tr class="green darken-3">
                                                                            <td class="text-color">1-</td>
                                                                            <td colspan="2"  class="text-color"><img class="team-image"  src="http://moderndata.ir/logos/liverpool_logo.png" ><span>لیورپول</span></td>
                                                                            
                                                                            <td class="text-color">8</td>
                                                                            <td class="text-color">24</td>
                                                                        </tr>
                                                                        <tr class="green darken-2">
                                                                                        <td class="text-color">1-</td>
                                                                                        <td colspan="2"  class="text-color"><img class="team-image"  src="http://moderndata.ir/logos/liverpool_logo.png" ><span>لیورپول</span></td>
                                                                                        
                                                                                        <td class="text-color">8</td>
                                                                                        <td class="text-color">24</td>
                                                                                    </tr>     
                                                                                    <tr class="green darken-3">
                                                                                                <td class="text-color">1-</td>
                                                                                                <td colspan="2"  class="text-color"><img class="team-image"  src="http://moderndata.ir/logos/liverpool_logo.png" ><span>لیورپول</span></td>
                                                                                                
                                                                                                <td class="text-color">8</td>
                                                                                                <td class="text-color">24</td>
                                                                                            </tr>     
                                                                                            <tr class="green darken-3">
                                                                                                        <td class="text-color">1-</td>
                                                                                                        <td colspan="2"  class="text-color"><img class="team-image"  src="http://moderndata.ir/logos/liverpool_logo.png" ><span>لیورپول</span></td>
                                                                                                        
                                                                                                        <td class="text-color">8</td>
                                                                                                        <td class="text-color">24</td>
                                                                                                    </tr>                         
                                                                                                 
                                                                </tbody>
                                        </table>   
                                    </div>
                            </div>
                                
                        </div>
                    
        
                      
        
            
                

            
    </body>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    
    <script type="text/javascript" src="{% static 'website/js/materialize.min.js' %}"></script>

    <script>

    </script>
    </html>