
{% extends 'website/parent.html' %}

{% block title%} صفحه اصلی  {% endblock %}

{% block crumb %}
خانه
{% endblock %}

{% block content %}

<div class="row">


    <div class="col-6 col-lg-3">
        <div class="card">
            <div class="card-body p-0 clearfix">
                <i class="fa fa-gamepad bg-primary p-4 px-5 font-2xl mr-3 float-right"></i>
                <div class="h5 text-primary mb-0 pt-3">8</div>
                <div class="text-muted text-uppercase font-weight-bold font-xs">لیگ های فعال</div>
            </div>
        </div>
    </div>
    

    <div class="col-6 col-lg-3">
        <div class="card">
            <div class="card-body p-0 clearfix">
                <i class="fa fa-soccer-ball-o bg-info p-4 px-5 font-2xl mr-3 float-right"></i>
                <div class="h5 text-info mb-0 pt-3">80</div>
                <div class="text-muted text-uppercase font-weight-bold font-xs">مجموع تیم ها</div>
            </div>
        </div>
    </div>
    <!--/.col-->

    <div class="col-6 col-lg-3">
        <div class="card">
            <div class="card-body p-0 clearfix">
                <i class="fa fa-users bg-warning p-4 px-5 font-2xl mr-3 float-right"></i>
                <div class="h5 text-warning mb-0 pt-3">480</div>
                <div class="text-muted text-uppercase font-weight-bold font-xs">مجموع کاربران</div>
            </div>
        </div>
    </div>
    <!--/.col-->

    <div class="col-6 col-lg-3">
        <div class="card">
            <div class="card-body p-0 clearfix">
                <i class="fa fa-video-camera  bg-danger p-4 px-5 font-2xl mr-3 float-right"></i>
                <div class="h5 text-danger mb-0 pt-3">88</div>
                <div class="text-muted text-uppercase font-weight-bold font-xs">مجموع ویدئوها</div>
            </div>
        </div>
    </div>
    <!--/.col-->
</div>
<!--/.row-->





 <div class="card">
     <div class="card-body">
         <div class="row">
             <div class="col-sm-5">
                 <h4 class="card-title mb-0" id="title"> </h4>
                 
             </div>
             
         </div>
         <!--/.row-->
         <div class="chart-wrapper" style="height:600px;margin-top:40px;">
                 
         </div>
     </div>
     <div class="card-footer" dir="ltr">
            <ul>
                    <li>
                            <button  type="button" class="btn btn-outline-primary"><i class="fa fa-play"></i>&nbsp; اجرای کد</button>
                    </li>
                    <li>
                            <button  type="button" class="btn btn-outline-success"><i class="fa fa-save"></i>&nbsp; ذخیره تغییرات</button>
                    </li>
                </ul>
     </div>
 </div>
 <!--/.card-->

 <!--/.row-->
</div>




{% endblock %}


       
